body, html {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
	/*letter-spacing: 0.3px;*/
	color: #333333
	}

/*::-webkit-scrollbar {
    width: 0px ;
    background: transparent;
    height:3px;
}

::-webkit-scrollbar-thumb {
	width: 0px ;
	border-radius:10px;
	background-color: #53a374;
	height:2px;
}

::-webkit-scrollbar-button  {
    height:0px;
}


::-webkit-scrollbar-corner  {
    display:none;    
}*/
a{
	text-decoration: none;
}

.instaLogo{
	height: 55px;
    width: auto; 
    display: inline;
    margin-top:-20px   
}
.instaLogoText{
	height: 40px;
    width: auto;
    display: inline;
    margin-top:-20px;      
}
.headerColor{
	background-color: #fff;
	padding: 13px 14.5vw;
}
.navbarLine {
    display: inline;
    font-size: 35px;
    font-weight: 300;
    color: #939393;
    margin-top: -15px;
    margin-right: 5px;
}
.navbarSearch{
	display: inline;
	margin-left: 12vw
}
.navbarSearchInput{
	border: solid 1px #d9d9d9;
    border-radius: 3px;
    color: #262626;
    font-size: 16px;
    /*outline: none;*/
    width: 15vw;
    padding: 2px 0px 2px 7vw;
    /*z-index: 2;	display: inline;*/
    background-color:#fafafa;
    font-weight: 400;
    margin-top: 2vh
}
.form-control-feedback{
	position: absolute;
    right: 8vw;
    line-height: 18px;
    pointer-events: none;
    color: #939393;
    font-size: 10px;
}
.exploreDiv{
	display: inline;
	margin-left:  17vw;
}
.instaCompassImg{
	padding-right: 1.9vw
}
.instaNotificationImg{
	padding-right: 1.9vw
}
.navbar-default{
	-webkit-box-shadow: none;
    box-shadow: none;
}

/*body*/
.contentBody{
	background-color: #fafafa;
	margin-top: -3vh;
	padding: 1vw
}

.profilePicDiv{
	margin-top: 7vh;
}
.profilePic{
	width: 11vw;
	height:11vw;
	border-radius: 20vw;
	text-align: center;
}
.profilePicCenter{
	text-align: center;
}
.userName{
	display: inline;
	font-size: 32px;
    line-height: 40px;
    font-weight: 600;
    vertical-align: middle;
    margin-left: .2vw;
    letter-spacing: 1px
}
.followButton{
	background-color: #3897f0;
    border: navajowhite;
    color: #fff;
    border-radius: 3px;
    font-size: 14.5px;
    font-weight: 600;
    padding:4px 1.6vw;
    margin-left: 3.5vw;
    margin-top: 0vh 

}
.downArrowButton{
	background-color: #3897f0;
    border: navajowhite;
    color: #fff;
    border-radius: 3px;
    font-size: 10px;
    padding:7px .9vw;
    font-weight: 600;
	margin-left: .5vw;
	vertical-align: middle;
    margin-top:-.8vh;
}
.downArrow{
	font-size: 10px;
	color: #fff;
	margin-top: 5px
}
.threeDots{
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 20px;
	margin-left: .5vw;
}
.forMobileView{
	display: none;
}
.followersDiv{
	margin-top: 2vh;
	font-size: 16px;
	word-spacing: 5px;
	font-weight: 400
}
.followersDiv span{
	margin-right: 2.5vw;
	margin-bottom: 2vh
}
.userStatus{
	margin-top: 3vh;
	font-size: 16.5px;
	word-spacing: 1.6px
}

.copyright{
	float: right;
	color: #a1a1a1;
	font-weight: 600;
	font-size: 12.3px;
	letter-spacing: .3px
}
.postImages{
	width: 100%;
	height:300px;
	margin-top: 5.6vh
}
.container1 {
  position: relative;
  width: 33.333333%;
}
.overlay {
  position: absolute;
  top: 5.6vh;
  bottom: 0;
  left: 5%;
  right: 0;
  height: 300px;
  width: 90%;
  opacity: 0;
  transition: .2s ease;
  background-color: #000;
}

.container1:hover .overlay {
  opacity: .75;
}

.te {
  color: #fff;
  opacity: 1;
  z-index: 20;
  font-size: 18px;
  position: absolute;
  top: 45%;
  left: 5.5vw;
  text-align: center;
}
.imgIconns{
	padding-right: 5vw;
}

.bottomLinks{
	margin-top: 10vh;
	margin-bottom: 5vh
}

.bottomLinks div a{
	color: #003484;
	font-size: 12.3px;
	font-weight: 600;
	padding-left: .8vw;
	letter-spacing: .3px
}