
@media only screen and (max-width: 480px){
body{
	width: 100vw
}
.mobileNavbarDiv{
	border-bottom: .5px solid #ddd;
	text-align: center;
	font-size: 18px;
	padding-top: 2vh;
	font-weight: 600;
}
.contentBody{
	margin-top: 0vh;
}
.mobileNavbar{
	
}
.profilePicDiv{
	margin-top: 3vh;
}
.profilePic{
	width: 18vw;
	height:18vw;
}
.userName{
	font-size: 25px;
    font-weight: 400;
}
.forPCView{
	display: none;
}
.forMobileView{
	display: inline;
}
.followButton{
    font-size: 14.5px;
    padding:4.5px 18vw;
    margin-left: -3vw;
    margin-top: .3vh;
    display: inline; 
}
.downArrowButton{
    padding:7px 3vw;
}
.threeDots{
	margin-left: 3vw;
}
.contentBody{
	background-color: #fff
}
.followersDiv{
	display: none;
}
.followewInfoMobile{
	border-top: .5px solid #eaeaea;
}
.followewInfoMobile div{
	text-align: center;
	padding-top: .8vh;
}
.followewInfoMobile div p{
	font-weight: 400;
	font-size: 14.5px;
	color: #888
}
.followewInfoMobile div span{
	font-weight: 600;
	font-size: 16px;
}
.userStatus{
	margin-top: 0vh;
	font-size: 14.5px;
	word-spacing: 1px
}
.postImages{
	height:140px;
	margin-top: 0vh;
	padding:0 !important;
}
.overlay{
	height: 0
}
.container1 {
	padding:2px !important;
  width: 33.33%;
}
.bottomLinks{
	display: none;
}
.mobileFooterDiv{
	position: fixed;
	top:97vh;
	height: 6vh;
	width: 100vw;
	background-color: #fff;
	border-top: 1px solid #000;

	left: 0
}
.mobileFooter{
	width: 20vw;
	text-align: center;
	display: inline;
}
.mobileFooterIcons{
	height: auto;
	width: 9vw;
	/*margin-bottom: 0vh;*/
}
}
